@model ValidadorCartaoCredito.Mvc.ViewModels.CartaoCreditoViewModel
@{
    Layout = null;
}
<div class="alert alert-success" role="alert">
    @Model.TipoCartao: @Model.Numero <strong>(válido)</strong>
</div>
